<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>

    <link href="../css/dashboard.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">


</head>

<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Granja Ares</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Buscar produccion"
            aria-label="Search">
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="#">Sign out</a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3 sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="../index.html">
                                <span data-feather="home" class="align-text-bottom"></span>
                                Inicio
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file" class="align-text-bottom"></span>
                                Orders
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./produccion.html">
                                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                                Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="./empleados.html">
                                <span data-feather="users" class="align-text-bottom"></span>
                                Empleados
                            </a>
                        </li>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Produccion</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group me-2">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#agregarproduccion"
                                class="btn btn-sm btn-outline-secondary">Agregar Produccion</button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Huevos Diarios</th>
                                <th scope="col">Carton Pequeño</th>
                                <th scope="col">Carton Mediano</th>
                                <th scope="col">Carton Grande</th>
                                <th scope="col">Carton Jumbo</th>
                                <th scope="col">Cantidad en Cajas</th>
                                <th scope="col">Fecha</th>
                            </tr>
                        </thead>
                        <tbody id="produccion">
                            <tr>
                                <td>{id2}</td>
                                <td>{HuevD}</td>
                                <td>{CartP}</td>
                                <td>{CartM}</td>
                                <td>{CartG}</td>
                                <td>{CartJ}</td>
                                <td>{CantCajas}</td>
                                <td>{Fecha}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="verproduccion" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="verproduccionLabel">Ver Produccion</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="huevosDia" class="form-label">Huevos Diarios</label>
                                        <input id="huevosDia" class="form-control">

                                        <label for="cantPeque" class="form-label">Carton Pequeño</label>
                                        <input id="cantPeque" class="form-control">

                                        <label for="cantMed" class="form-label">Carton Mediano</label>
                                        <input id="cantMed" class="form-control">

                                        <label for="cantGrand" class="form-label">Carton Grande</label>
                                        <input id="cantGrand" class="form-control">

                                        <label for="cantJumb" class="form-label">Carton Jumbo</label>
                                        <input id="cantJumb" class="form-control">

                                        <label for="cantGall" class="form-label">Cantidad de Gallinas</label>
                                        <input id="cantGall" class="form-control">

                                        <label for="cantCajas" class="form-label">Cantidad en Cajas</label>
                                        <input id="cantCajas" class="form-control">

                                        <label for="cantPerd" class="form-label">Perdida</label>
                                        <input id="cantPerd" class="form-control">

                                        <label for="fecha2" class="form-label">Fecha</label>
                                        <input id="fecha2" class="form-control">

                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="modProduccion" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="modProduccionLabel">Actualizar Produccion</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="huevosDiaMod" class="form-label">Huevos Diarios</label>
                                        <input id="huevosDiaMod" class="form-control">

                                        <label for="cantPequeMod" class="form-label">Carton Pequeño</label>
                                        <input id="cantPequeMod" class="form-control">

                                        <label for="cantMedMod" class="form-label">Carton Mediano</label>
                                        <input id="cantMedMod" class="form-control">

                                        <label for="cantGrandMod" class="form-label">Carton Grande</label>
                                        <input id="cantGrandMod" class="form-control">

                                        <label for="cantJumbMod" class="form-label">Carton Jumbo</label>
                                        <input id="cantJumbMod" class="form-control">

                                        <label for="cantGallMod" class="form-label">Cantidad de Gallinas</label>
                                        <input id="cantGallMod" class="form-control">

                                        <label for="cantCajasMod" class="form-label">Cantidad en Cajas</label>
                                        <input id="cantCajasMod" class="form-control">

                                        <label for="cantPerdMod" class="form-label">Perdida</label>
                                        <input id="cantPerdMod" class="form-control">

                                        <label for="fechaMod" class="form-label">Fecha</label>
                                        <input id="fechaMod" class="form-control">

                                    </div>
                                    <button onclick="modificarProduccion()" data-bs-dismiss="modal" type="button"
                                        class="btn btn-primary">Guardar</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal
                <div class="modal fade" id="elimProduccion" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="elimProduccionLabel">Eliminar Produccion</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h3>¿Estas seguro de eliminar este Produccion?</h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" data-bs-dismiss="modal" onclick="eliminarProduccion()"
                                    class="btn btn-primary">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div> -->


                <!-- Modal -->
                <div class="modal fade" id="agregarProduccion" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="agregarProduccionLabel">Agregar Prodcuccion</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="nombreProduccionAdd" class="form-label">Nombre</label>
                                        <input id="nombreProduccionAdd" type="text" class="form-control">

                                        <label for="apellidoProduccionAdd" class="form-label">Apellido</label>
                                        <input id="apellidoProduccionAdd" type="text" class="form-control">

                                        <label for="direccionProduccionAdd" class="form-label">Direccion</label>
                                        <input id="direccionProduccionAdd" type="text" class="form-control">

                                        <label for="puestoProduccionAdd" class="form-label">Puesto</label>
                                        <input id="puestoProduccionAdd" type="text" class="form-control">

                                        <label for="edadProduccionAdd" class="form-label">Edad</label>
                                        <input id="edadProduccionAdd" type="number" class="form-control">

                                        <label for="telefonoProduccionAdd" class="form-label">Telefono</label>
                                        <input id="telefonoProduccionAdd" type="number" class="form-control">

                                        <label for="salarioProduccionAdd" class="form-label">Salario</label>
                                        <input id="salarioProduccionAdd" type="number" class="form-control">
                                    </div>
                                    <button onclick="agregarProduccion()" data-bs-dismiss="modal" type="button"
                                        class="btn btn-primary">Guardar</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>


            </main>

            <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
                integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
                integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
                crossorigin="anonymous"></script>
            <script src="../js/dashboard.js"></script>

            <script src="../js/fetchProduccion.js"></script>

</body>

</html>